@font-face{ 
	font-family: 'Brushield';	
	src: url('../fonts/Brushield.woff') format('woff'),	      
}

body {
    background-color: #000000;
}

div#position {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 300px;
}


button#button {
    display: inline-block;
    background-color: rgba(255, 33, 144, 1);
    border: white solid 10px;
    border-radius: 500px;
    padding: 20px;
    outline: none;
    cursor: pointer;
    z-index: 10000;
}

button#missarea {
    opacity: 0;
}

button.back {
    color: white;
    font-family: 'Brushield';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    border: white solid 3px;
}

.back::before {
    content: 'x';
    
    font-size: 30px;
}

div#playarea {
    position: fixed;
    border: 3px solid white;
    display: inline-block;
    top: 50px;
    left: 50px;
}

button#missarea {
    position: absolute;
}

p {
    color: #ffffff;
    font-family: 'Brushield';
    font-size: 40px;
}

p#score {
    position: fixed;
    top: -35px;
    right: 0;  
}

p#combocounter {
    position: fixed;
    bottom: -35px;
    left: 20px;
}

p#missleft {
    position: fixed;
    bottom: -35px;
    right: 20px;
}