@font-face{ 
	font-family: 'Brushield';	
	src: url('../fonts/Brushield.otf') format('opentype'),	     
}

body {
    background-color: #000000;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transition: opacity 0.5s;
}

#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    transition-duration: 0.1s;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%; /* Slider handle height */
    background: #ff2190; /* hotpink background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #ff2190; /* hotpink background */
    cursor: pointer; /* Cursor on hover */
}

#menu {
    text-align: center;
    opacity: 0;
    transition: opacity 3s;
}

div.menu {
    margin-top: 150px;
}

#menu img {
    margin-bottom: 30px;
}

p {
    color: #ffffff;
    font-family: Brushield;
    font-size: x-large;  
}

.slider_container {
    width: 500px;
    margin: 0 auto;
}

button.start {
    background: #000000;
    border: #ffffff 3px solid;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    margin-top: 20px;
    outline: none;
    font-family: "Brushield";
}

button.start:hover {
    background-color: #ffffff;
    color: black;
    font-size: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slideron {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slideron:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slideron {
    background-color: #ff2190;
}

input:focus + .slideron {
    box-shadow: 0 0 1px #ff2190;
}

input:checked + .slideron:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slideron.round {
    border-radius: 34px;
}
  
.slideron.round:before {
    border-radius: 50%;
}